In [1]:
# used for manipulating directory paths
import os

# Scientific and vector computation for python
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.utils import resample
from sklearn import svm as svm2

# SKlearn for F1 score calculation
from sklearn.metrics import f1_score

# Plotting library
from matplotlib import pyplot

# Optimization module in scipy
from scipy import optimize

# we use pandas to import a comma-seperated values dataset
import pandas as pd

# will be used to load MATLAB mat datafile format
from scipy.io import loadmat

# library written for this exercise providing additional functions for assignment submission, and others
import svm

import logistic_regression as lr

# tells matplotlib to embed plots within the notebook
%matplotlib inline

In [2]:
data = pd.read_csv(os.path.join('data', 'healthcare-dataset-stroke-data.csv'))

data.head(10)

data.drop("id", axis = 1, inplace = True)
data.drop("gender", axis = 1, inplace = True)
#data.drop("ever_married", axis = 1, inplace = True)
data.drop("work_type", axis = 1, inplace = True)
#data.drop("Residence_type", axis = 1, inplace = True)
data.drop("bmi", axis = 1, inplace = True)
#data.drop("smoking_status", axis = 1, inplace = True)

#indexAge = data[((data['age'] < 20) & (data['stroke'] == 1)) ].index  #find the indexes of outliers
#data.drop(indexAge , inplace=True) # drop the outliers
#indexGlucose = data[((data['avg_glucose_level'] > 220) & (data['stroke'] == 0)) ].index
#data.drop(indexGlucose , inplace=True)

In [3]:
data = data.dropna(axis = 0)

## Making dummy classes for the enumertor classes

In [4]:
num_cols = data.select_dtypes(include = [np.number]).columns.tolist()
obj_cols = data.select_dtypes(exclude = [np.number]).columns.tolist()

In [5]:
# Numerical columns data
data_new_num = data[num_cols]

# Categorical columns data
data_new_cat = data[obj_cols]

# Creating dummies
data_new_cat_dummies = pd.get_dummies(data_new_cat)
print(data_new_cat_dummies.shape)
data_new_cat_dummies.head()

(5110, 8)

,ever_married_No,ever_married_Yes,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,1,0,1,0,1,0,0
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,0,1,0,0,0,1
4,0,1,1,0,0,0,1,0

In [6]:
data_new_final = pd.concat([data_new_num, data_new_cat_dummies], axis = 1)
print(data_new_final.shape)
data_new_final.head()

(5110, 13)

,age,hypertension,heart_disease,avg_glucose_level,stroke,ever_married_No,ever_married_Yes,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,1,0,1,0,1,0,1,0,0
1,61.0,0,0,202.21,1,0,1,1,0,0,0,1,0
2,80.0,0,1,105.92,1,0,1,1,0,0,0,1,0
3,49.0,0,0,171.23,1,0,1,0,1,0,0,0,1
4,79.0,1,0,174.12,1,0,1,1,0,0,0,1,0

## Downsample

In [7]:
negative = data_new_final[data_new_final.stroke==0]
positive = data_new_final[data_new_final.stroke==1]

#print(data.stroke.value_counts())

#print(negative.stroke.value_counts())
#print(positive.stroke.value_counts())

# downsample majority
neg_downsampled = resample(negative,
 replace=True, # sample with replacement
 n_samples=len(positive), # match number in minority class
 random_state=27) # reproducible results
# combine minority and downsampled majority
downsampled = pd.concat([positive, neg_downsampled])
# check new class counts
downsampled.stroke.value_counts()

1    249
0    249
Name: stroke, dtype: int64

In [8]:
X = downsampled.drop(['stroke'], axis=1).values
y = downsampled['stroke'].values

In [9]:
# Setup the data matrix appropriately, and add ones for the intercept term
m, n = X.shape

print(X.shape)

# Add intercept term to X
X = np.concatenate([np.ones((m, 1)), X], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0,shuffle=True, stratify=y)

(498, 12)

In [10]:
def gaussianKernel(x1, x2, sigma):
    """
    Computes the radial basis function
    Returns a radial basis function kernel between x1 and x2.
    
    Parameters
    ----------
    x1 :  numpy ndarray
        A vector of size (n, ), representing the first datapoint.
    
    x2 : numpy ndarray
        A vector of size (n, ), representing the second datapoint.
    
    sigma : float
        The bandwidth parameter for the Gaussian kernel.

    Returns
    -------
    sim : float
        The computed RBF between the two provided data points.
    
    Instructions
    ------------
    Fill in this function to return the similarity between `x1` and `x2`
    computed using a Gaussian kernel with bandwidth `sigma`.
    """
    sim = 0
    # ====================== YOUR CODE HERE ======================
    sim = np.exp(-np.power(np.linalg.norm(x1 - x2),2)/(2 * np.power(sigma,2)))


    # =============================================================
    return sim

In [20]:
#sklearn implementation
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
model = make_pipeline(StandardScaler(), svm2.SVC(gamma='auto')).fit(X_train, y_train)
p_test = model.predict(X_test)
print('Test F1-score: {:.2f} %' .format(f1_score(y_test,p_test,average='binary') * 100))

Test F1-score: 82.69 %

In [14]:
# SVM Parameters
C = 0.5
sigma = 2
model = svm.svmTrain(X_train, y_train, C, gaussianKernel, args=(sigma,))
results = np.zeros(shape=(22, 22))
for x in range(21):
    results[0,x+1] = C
    C += 0.1
for x in range(21):
    results[x+1,0] = sigma
    sigma += 0.1
x = 1
y = 1
for C in np.arange(0.5,2.5,0.1):
    for sigma in np.arange(2,4,0.1):
        #print(f'for C: {C} and sigma: {sigma}')
        model = svm.svmTrain(X_train, y_train, C, gaussianKernel, args=(sigma,))
        p_test = svm.svmPredict(model, X_test)
        results[x,y] = f1_score(y_test,p_test,average='binary') * 100
        #print('Test Accuracy: {:.2f} %'.format(np.mean(p_test == y_test) * 100))
        #print('Test F1-score: {:.2f} %' .format(f1_score(y_test,p_test,average='binary') * 100))
        x += 1
    x = 1
    y += 1
print(results)

[[ 0.          0.5         0.6         0.7         0.8         0.9
   1.          1.1         1.2         1.3         1.4         1.5
   1.6         1.7         1.8         1.9         2.          2.1
   2.2         2.3         2.4         2.5       ]
 [ 2.         68.46846847 70.37037037 71.02803738 72.54901961 70.47619048
  69.81132075 67.9245283  67.28971963 66.66666667 67.28971963 67.9245283
  67.28971963 67.9245283  68.57142857 69.1588785  69.1588785  69.81132075
  69.81132075 70.47619048 69.81132075  0.        ]
 [ 2.1        69.72477064 71.02803738 72.38095238 73.07692308 72.38095238
  72.38095238 72.38095238 70.47619048 68.57142857 68.57142857 66.66666667
  67.9245283  67.9245283  68.57142857 68.57142857 68.57142857 69.81132075
  69.81132075 69.81132075 69.81132075  0.        ]
 [ 2.2        71.02803738 71.69811321 72.54901961 73.78640777 73.78640777
  73.07692308 73.07692308 72.38095238 71.69811321 69.81132075 68.57142857
  67.30769231 68.57142857 68.57142857 68.57142857 68.57142857 69.23076923
  69.23076923 70.47619048 70.47619048  0.        ]
 [ 2.3        73.07692308 73.07692308 73.78640777 73.78640777 73.78640777
  73.07692308 73.07692308 72.38095238 72.38095238 71.69811321 69.81132075
  69.81132075 68.57142857 67.30769231 68.57142857 68.57142857 69.23076923
  69.23076923 69.23076923 69.23076923  0.        ]
 [ 2.4        74.         72.         71.28712871 72.54901961 72.54901961
  73.78640777 73.07692308 73.07692308 73.07692308 73.07692308 72.38095238
  71.15384615 69.81132075 70.47619048 69.23076923 67.96116505 69.23076923
  69.23076923 69.23076923 67.96116505  0.        ]
 [ 2.5        75.24752475 72.72727273 72.         72.54901961 72.54901961
  73.78640777 73.07692308 73.07692308 73.07692308 73.07692308 73.07692308
  72.38095238 70.47619048 70.47619048 69.81132075 69.81132075 69.23076923
  69.23076923 67.96116505 67.96116505  0.        ]
 [ 2.6        74.74747475 74.         73.26732673 73.26732673 73.78640777
  72.54901961 71.84466019 71.84466019 71.84466019 71.84466019 73.07692308
  73.07692308 73.07692308 70.47619048 69.23076923 70.47619048 69.81132075
  67.30769231 67.30769231 67.96116505  0.        ]
 [ 2.7        74.74747475 74.         73.26732673 73.26732673 74.50980392
  74.50980392 72.54901961 71.84466019 71.84466019 71.84466019 71.84466019
  71.84466019 71.84466019 71.15384615 69.23076923 69.23076923 69.23076923
  69.23076923 68.57142857 67.30769231  0.        ]
 [ 2.8        74.74747475 73.26732673 73.26732673 73.26732673 73.26732673
  74.50980392 74.50980392 73.07692308 71.84466019 71.84466019 71.84466019
  71.84466019 71.84466019 71.15384615 71.15384615 69.23076923 69.23076923
  69.23076923 69.23076923 69.23076923  0.        ]
 [ 2.9        74.74747475 74.         74.         74.         74.
  74.50980392 74.50980392 74.50980392 73.07692308 73.07692308 71.84466019
  71.84466019 71.84466019 71.15384615 71.15384615 71.15384615 69.90291262
  69.23076923 69.23076923 69.23076923  0.        ]
 [ 3.         74.74747475 73.26732673 74.         74.         74.
  73.26732673 74.50980392 74.50980392 73.78640777 73.78640777 73.07692308
  71.84466019 71.84466019 71.84466019 71.15384615 71.15384615 71.15384615
  69.90291262 69.23076923 69.23076923  0.        ]
 [ 3.1        74.         74.         74.         74.74747475 74.74747475
  74.         73.26732673 74.50980392 74.50980392 73.78640777 73.78640777
  73.07692308 73.07692308 71.84466019 71.15384615 71.15384615 71.15384615
  71.15384615 69.90291262 69.90291262  0.        ]
 [ 3.2        74.         74.         74.74747475 74.74747475 74.74747475
  74.74747475 74.74747475 75.24752475 75.24752475 74.50980392 73.78640777
  73.78640777 73.78640777 73.07692308 73.07692308 71.15384615 71.15384615
  71.15384615 71.15384615 69.90291262  0.        ]
 [ 3.3        75.24752475 74.         74.74747475 74.74747475 74.74747475
  74.74747475 74.74747475 74.74747475 76.         75.24752475 74.50980392
  73.78640777 73.78640777 73.78640777 73.78640777 72.38095238 72.38095238
  71.15384615 71.15384615 71.15384615  0.        ]
 [ 3.4        74.         74.         73.46938776 74.74747475 74.74747475
  74.74747475 74.74747475 74.74747475 74.74747475 76.         76.
  75.24752475 73.78640777 74.50980392 73.78640777 73.78640777 73.07692308
  72.38095238 72.38095238 71.15384615  0.        ]
 [ 3.5        74.74747475 72.72727273 73.46938776 73.46938776 74.74747475
  74.74747475 74.74747475 74.74747475 74.74747475 74.74747475 76.
  76.         76.         74.50980392 74.50980392 74.50980392 74.50980392
  73.78640777 73.78640777 72.38095238  0.        ]
 [ 3.6        74.         74.22680412 73.46938776 73.46938776 73.46938776
  74.74747475 74.74747475 74.74747475 74.74747475 74.74747475 74.74747475
  76.         76.         76.         76.         74.50980392 74.50980392
  74.50980392 73.78640777 73.78640777  0.        ]
 [ 3.7        74.74747475 74.22680412 74.22680412 73.46938776 73.46938776
  74.74747475 74.74747475 74.74747475 74.74747475 74.74747475 74.74747475
  74.74747475 76.         76.         76.         76.         75.24752475
  74.50980392 73.78640777 73.78640777  0.        ]
 [ 3.8        76.         75.51020408 74.22680412 73.46938776 73.46938776
  73.46938776 74.74747475 74.74747475 74.74747475 74.74747475 74.74747475
  74.74747475 74.74747475 76.         76.         76.         76.
  76.         75.24752475 74.50980392  0.        ]
 [ 3.9        76.         75.51020408 74.22680412 74.22680412 74.22680412
  73.46938776 73.46938776 73.46938776 74.74747475 74.74747475 74.74747475
  74.74747475 74.74747475 74.74747475 76.         76.         76.
  76.         76.         75.24752475  0.        ]
 [ 4.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.        ]]

In [12]:
p_train = svm.svmPredict(model, X_train)
print('Train Accuracy: {:.2f} %'.format(np.mean(p_train == y_train) * 100))
print('Train F1-score: {:.2f} %' .format(f1_score(y_train,p_train,average='binary') * 100))

Train Accuracy: 94.97 %
Train F1-score: 95.07 %

In [13]:
p_test = svm.svmPredict(model, X_test)
print('Test Accuracy: {:.2f} %'.format(np.mean(p_test == y_test) * 100))
print('Test F1-score: {:.2f} %' .format(f1_score(y_test,p_test,average='binary') * 100))

Test Accuracy: 73.00 %
Test F1-score: 73.79 %